SECRET_KEY=change-me-to-a-random-secret
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1


# Для MySQL заполните все поля ниже, иначе оставьте пустыми для SQLite
#DB_ENGINE=django.db.backends.mysql
#DB_NAME=rental_db
#DB_USER=rental_user
#DB_PASSWORD=rental_password
#DB_ROOT_PASSWORD=root_password
#DB_HOST=db
#DB_PORT=3306
